# extends 'admin.html'
<!DOCTYPE html>
<html>
  <head>
    <title>
        # block admintitle
        Clients
        # endblock admintitle
    </title>
  </head>
  <body>
    # block adminpanel
    <h2>Manage Client Events</h2>

    # if view == 'detail':
      <form class="mod" id="modclient" method="post">
        ${jmacros.form_token_input()}
        <fieldset>
          <legend>Event Overview:</legend>
          <div class="field">
            <label><b>Name:</b> ${event.name}</label>
            <p class="help">Run this event using the <a href="https://trac-hacks.org/browser/clientsplugin/trunk/cron/run-client-event">run-client-event</a> script with the argument: -c &quot;${event.name}&quot;</p>
          </div>
          <div class="field">
            <label><b>Summary:</b> ${event.summary}</label>
            <p class="help">${event.summary_description}</p>
          </div>
          <div class="field">
            <label><b>Action:</b> ${event.action}</label>
            <p class="help">${event.action_description}</p>
          </div>
          <div class="field">
            <label><b>Last run:</b> ${pretty_timedelta(event.lastrun)} (${format_date(event.lastrun)} ${format_time(event.lastrun, '%H:%M')})</label>
          </div>
        </fieldset>
        # for options in (event.summary_options, event.action_options)
          # if options:
          <fieldset>
              # set field = options==event.summary_options and 'summary' or 'action'
              # if 'summary'==field:
                <legend>Summary Options</legend>
              # endif
              # if 'action'==field:
                <legend py:if="">Action Options</legend>
              # endif
              # for option in options.values():
              <div class="field">
                <label>${option.name}</label><br />
                  # if option.type == 'large':
                    <textarea name="${field}-option-${option.md5}" rows="10" cols="70">${option.value}</textarea>
                  # elif option.type == 'small':
                  <input name="${field}-option-${option.md5}" type="text" size="5" value="${option.value}" />
                  # elif option.type == 'list':
                  <select name="${field}-option-${option.md5}">
                    # for val in option.vals:
                    <option selected="${val == option.value and 'selected' or None}">${val}</option>
                    # endfor
                  </select>
                  # else:
                    <input py:otherwise="" name="${field}-option-${option.md5}" type="text" size="60" value="${option.value}" />
                  # endif
                <p class="help">${option.description}</p>
              </div>
              # endfor
            </py:with>
          </fieldset>
          # endif
        # endfor
        <div class="buttons">
          <input type="submit" name="cancel" value="Cancel" />
          <input type="submit" name="save" value="Save" />
        </div>
      </form>

      # else
        <form class="addnew" method="post">
          ${jmacros.form_token_input()}
          <fieldset>
            <legend>Add Client Event:</legend>
            <div class="field">
              <label>Name:<br /><input type="text" name="name" /></label>
            </div>
            <div class="field">
              <label>Summary:<br />
                <select name="summary">
                  # for summary in summaries:
                  <option>
                    ${summary}
                  </option>
                  # endfor
                </select>
              </label>
            </div>
            <div class="field">
              <label>Action:<br />
                <select name="action">
                  # for action in actions
                  <option>${action}</option>
                  # endfor
                </select>
              </label>
            </div>
            <div class="buttons">
              <input type="submit" name="add" value="Add"/>
            </div>
          </fieldset>
        </form>

        # if events:
          <form method="POST">
            ${jmacros.form_token_input()}
            <table class="listing">
              <thead>
                <tr><th class="sel">&nbsp;</th>
                  <th>Name</th><th>Summary</th><th>Action</th>
                </tr>
              </thead>
              <tbody>
                # for event in events:
                <tr>
                  <td class="sel"><input type="checkbox" name="sel" value="${event.name}" /></td>
                  <td class="name">
                    <a href="${panel_href(event.name)}">${event.name}</a>
                  </td>
                  <td class="summary">${event.summary}</td>
                  <td class="action">${event.action}</td>
                </tr>
                # endfor
              </tbody>
            </table>
            <div class="buttons">
              <input type="submit" name="remove" value="Remove selected items" />
              <input type="submit" name="apply" value="Apply changes" />
            </div>
          </form>
        #endif

    # endif
    # endblock adminpanel
  </body>
</html>
