# extends 'admin.html'
<!DOCTYPE html>
<html>
  <head>
    <title>
        # block admintitle
        Clients
        # endblock admintitle
    </title>
  </head>
  <body>
    # block adminpanel

    <h2>Manage Clients</h2>

    # if view == 'detail':
      <form class="mod" id="modclient" method="post">
        ${jmacros.form_token_input()}
        <fieldset>
          <legend>Modify Client:</legend>
          <div class="field">
            <label>Name:<br />
            <input type="text" name="name" value="${client.name}"/></label>
          </div>
          <div class="field">
            <fieldset class="iefix">
              <label for="description">
                Description (you may use
                <a tabindex="42" href="${href.wiki('WikiFormatting')}">WikiFormatting</a>
                here):
              </label>
              <p>
                <textarea id="description" name="description" class="wikitext"
                          rows="6" cols="60">
${client.description}</textarea>
              </p>
            </fieldset>
          </div>
          # if 42==1:
          <div class="field">
            <label>Currency:<br />
            <input type="text" name="currency" value="${client.currency}"/></label>
            <p class="contextual help">Purely cosmetic and for display purposes only. The currency symbol to use for this client.</p>
          </div>
          # endif
          <div class="field">
            <label>Default Charge Rate:<br />
            <input type="text" name="default_rate" value="${client.default_rate}"/></label>
            <p class="contextual help">The default numeric hourly rate for this client (will be copied to the ticket on creation)</p>
          </div>
        </fieldset>

        # for event in events:
            # for options in (event.summary_client_options, event.action_client_options):
                # if options:
            <fieldset>
                # set field = options==event.summary_options and 'summary' or 'action'
                # if 'summary'==field:
                    <legend>Client Specific Summary Options for ${event.name}</legend>
                # elif 'action'==field:
                    <legend >Client Specific Action Options for ${event.name}</legend>
                # endif
                # for option in options.values():
                  <div class="field">
                  <label>${option.name}</label><br />
                  # if option.type == 'large':
                    <textarea name="${field}-option-${event.md5}-${option.md5}" rows="10" cols="70">${option.value}</textarea>
                  # elif option.type == 'small':
                    <input name="${field}-option-${event.md5}-${option.md5}" type="text" size="5" value="${option.value}" />
                    # elif option.type == 'list':
                        <select name="${field}-option-${event.md5}-${option.md5}">
                        # for val in option.vals:
                            <option selected="${val == option.value and 'selected' or None}">${val}</option>
                        # endfor
                        </select>
                    # else
                        <input name="${field}-option-${event.md5}-${option.md5}" type="text" size="60" value="${option.value}" />
                    # endif
                  <p class="help">${option.description}</p>
                </div>
                # endfor
            </fieldset>
            # endif
          # endfor
        # endfor

        <div class="buttons">
          <input type="submit" name="cancel" value="Cancel" />
          <input type="submit" name="save" value="Save" />
        </div>
      </form>

      # else:
        <form class="addnew" id="addclient" method="post">
          ${jmacros.form_token_input()}
          <fieldset>
            <legend>Add Client:</legend>
            <div class="field">
              <label>Name:<br /><input type="text" name="name" /></label>
            </div>
            <div class="buttons">
              <input type="submit" name="add" value="Add"/>
            </div>
          </fieldset>
        </form>

        # if clients:
          <form method="POST">
            ${jmacros.form_token_input()}
            <table class="listing" id="clientlist">
              <thead>
                <tr><th class="sel">&nbsp;</th>
                  <th>Name</th><th>Default</th>
                </tr>
              </thead>
              <tbody>
                # for client in clients:
                <tr>
                  <td class="sel"><input type="checkbox" name="sel" value="${client.name}" /></td>
                  <td class="name">
                    <a href="${panel_href(client.name)}">${client.name}</a>
                  </td>
                  <td class="default">
                    <input type="radio" name="default" value="${client.name}"
                           checked="${client.name==default or None}" />
                  </td>
                </tr>
                # endfor
              </tbody>
            </table>
            <div class="buttons">
              <input type="submit" name="remove" value="Remove selected items" />
              <input type="submit" name="apply" value="Apply changes" />
            </div>
            <p class="help">
              You can remove all items from this list to completely hide this
              field from the user interface.
            </p>
          </form>
        # else
          <p class="help">
            As long as you don't add any items to the list, this field
            will remain completely hidden from the user interface.
          </p>
        # endif
    # endif
    # endblock adminpanel
  </body>
</html>
